*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.bg {
    background: rgba(0, 0, 0, 0.15);
}
.flickr{
    font-weight: 900;
}
.fl-right{
    float: right;
}

.images-height{
    max-height: 100vh;
    position: relative;
}
.carousel-caption{
    top: 40%;
    left: 10%;
}

.bg{
    background-image: url(./images/033120190455-by-Henry.2edde7a9.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    /* width:100vw; */
    /* position:absolute */
}


.form{
    height: 98vh;
    max-width: 20vw;
}
.form-login{
    /* height: 98vh; */
    max-width: 30vw;
}
/* .glass-blur{
    backdrop-filter: ;
} */